body {
    background-color: #0e1117;
    color: white;
}

.main {
    background-color: #0e1117;
}

section[data-testid="stSidebar"] {
    background-color: #111827;
}

h1, h2, h3 {
    color: white;
}

.stButton > button {
    background-color: #2563eb;
    color: white;
    border-radius: 8px;
}

.stButton > button:hover {
    background-color: #1d4ed8;
}

.stFileUploader {
    background-color: #1f2937;
    padding: 10px;
    border-radius: 10px;
}

[data-testid="stChatMessage"] {
    background-color: #1f2937;
    padding: 10px;
    border-radius: 10px;
}

hr {
    border: 1px solid #374151;
}
